In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df0 = pd.read_csv('stocks_return_df 1.csv')
df1 = pd.read_csv('/content/stocks_return_df_WITH DESC_20231203 (1).csv')
df2 = pd.read_excel('data.xlsx')
df3 = pd.read_csv('sentiment_2018to2023_R1.csv')
df4 = pd.read_csv('/content/sentiment_2018to2023_calc.csv')

<ipython-input-3-8bf97ef1badb>:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/content/stocks_return_df_WITH DESC_20231203 (1).csv')

In [ ]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35524 entries, 0 to 35523
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        35524 non-null  int64
 1   Date              35524 non-null  object
 2   Open              35524 non-null  float64
 3   High              35524 non-null  float64
 4   Low               35524 non-null  float64
 5   Close             35524 non-null  float64
 6   Volume            35524 non-null  int64
 7   Name              35524 non-null  object
 8   Category          35524 non-null  object
 9   Business Address  35524 non-null  object
 10  Email Address     35524 non-null  object
 11  Website           35524 non-null  object
 12  Telephone No.     35524 non-null  object
 13  Description       35524 non-null  object
 14  Company Name      35524 non-null  object
 15  3Year_Return      35524 non-null  float64
 16  1Year_Return      35524 non-null  float64
 17  YTD_Return        35524 non-null  float64
 18  5Year_Return      35524 non-null  float64
 19  MA9               35524 non-null  float64
 20  MA50              35524 non-null  float64
 21  MA200             35524 non-null  float64
dtypes: float64(11), int64(2), object(9)
memory usage: 6.0+ MB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35524 entries, 0 to 35523
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Column1           35524 non-null  int64
 1   Date              35524 non-null  object
 2   Open              35524 non-null  float64
 3   High              35524 non-null  float64
 4   Low               35524 non-null  float64
 5   Close             35524 non-null  float64
 6   Volume            35524 non-null  int64
 7   Name              35524 non-null  object
 8   Category          35524 non-null  object
 9   Business Address  35524 non-null  object
 10  Email Address     35524 non-null  object
 11  Website           35524 non-null  object
 12  Telephone No.     35524 non-null  object
 13  Description       35524 non-null  object
 14  Company Name      35524 non-null  object
 15  3Year_Return      35524 non-null  float64
 16  1Year_Return      35524 non-null  float64
 17  YTD_Return        35524 non-null  float64
 18  5Year_Return      35524 non-null  float64
 19  MA9               35524 non-null  float64
 20  MA50              35524 non-null  float64
 21  MA200             35524 non-null  int64
 22  Unnamed: 22       1 non-null      object
dtypes: float64(10), int64(3), object(10)
memory usage: 6.2+ MB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company Name         30 non-null     object
 1   Name                 30 non-null     object
 2   Ceo                  30 non-null     object
 3   2022 Net Income      30 non-null     float64
 4   Date                 30 non-null     datetime64[ns]
 5   Quarterly P/E Ratio  30 non-null     float64
 6   Dividend Payout      29 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.8+ KB

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64620 entries, 0 to 64619
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       64620 non-null  int64
 1   Date             64620 non-null  object
 2   Name             64620 non-null  object
 3   headlines        64620 non-null  object
 4   Label            64620 non-null  object
 5   Score            64620 non-null  float64
 6   Label_Sentiment  2983 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 3.5+ MB

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64620 entries, 0 to 64619
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         64620 non-null  int64
 1   Date               64620 non-null  object
 2   Name               64620 non-null  object
 3   headlines          64620 non-null  object
 4   headlines.1        64620 non-null  object
 5   Label_string       64620 non-null  object
 6   Dummy_replacement  64620 non-null  int64
 7   Nearest_headline   64620 non-null  object
 8   Date of headline   64620 non-null  object
 9   text_date          64620 non-null  object
 10  Dummy_text         64620 non-null  object
dtypes: int64(2), object(9)
memory usage: 5.4+ MB

In [ ]:
df0 = df0.drop('Unnamed: 0', axis=1)

In [ ]:
df0['Description'] = df1['Description'].values
df0.head()

,Date,Open,High,Low,Close,Volume,Name,Category,Business Address,Email Address,...,Telephone No.,Description,Company Name,3Year_Return,1Year_Return,YTD_Return,5Year_Return,MA9,MA50,MA200
0,11/26/2018,909.587,922.180,907.650,915.399,211850,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,(632) 7908-3000,Ayala Corporation (AC) is a diversified holdin...,Ayala Corporation,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,11/27/2018,911.525,915.399,900.869,915.399,186570,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,(632) 7908-3000,Ayala Corporation (AC) is a diversified holdin...,Ayala Corporation,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,11/28/2018,911.525,918.305,907.650,918.305,264210,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,(632) 7908-3000,Ayala Corporation (AC) is a diversified holdin...,Ayala Corporation,0.317457,0.317457,0.317457,0.317457,0.0,0.0,0.0
3,11/29/2018,921.211,927.992,920.243,921.211,1009260,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,(632) 7908-3000,Ayala Corporation (AC) is a diversified holdin...,Ayala Corporation,0.634914,0.634914,0.634914,0.634914,0.0,0.0,0.0
4,12/3/2018,920.243,929.445,910.556,920.243,514410,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,(632) 7908-3000,Ayala Corporation (AC) is a diversified holdin...,Ayala Corporation,0.529168,0.529168,0.529168,0.529168,0.0,0.0,0.0

In [ ]:
df0['Description']

0        Ayala Corporation (AC) is a diversified holdin...
1        Ayala Corporation (AC) is a diversified holdin...
2        Ayala Corporation (AC) is a diversified holdin...
3        Ayala Corporation (AC) is a diversified holdin...
4        Ayala Corporation (AC) is a diversified holdin...
                               ...
35519    Wilcon Depot, Inc. (WLCON), a home improvement...
35520    Wilcon Depot, Inc. (WLCON), a home improvement...
35521    Wilcon Depot, Inc. (WLCON), a home improvement...
35522    Wilcon Depot, Inc. (WLCON), a home improvement...
35523    Wilcon Depot, Inc. (WLCON), a home improvement...
Name: Description, Length: 35524, dtype: object

In [ ]:
df = pd.merge(df0, df2[["Name", "Ceo", "2022 Net Income", "Quarterly P/E Ratio", "Dividend Payout"]], on = "Name", how = "outer")
df.head()

,Date,Open,High,Low,Close,Volume,Name,Category,Business Address,Email Address,...,1Year_Return,YTD_Return,5Year_Return,MA9,MA50,MA200,Ceo,2022 Net Income,Quarterly P/E Ratio,Dividend Payout
0,11/26/2018,909.587,922.180,907.650,915.399,211850.0,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,Cezar P. Consing,-0.0136,11.9,Semi-annually
1,11/27/2018,911.525,915.399,900.869,915.399,186570.0,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,Cezar P. Consing,-0.0136,11.9,Semi-annually
2,11/28/2018,911.525,918.305,907.650,918.305,264210.0,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,0.317457,0.317457,0.317457,0.0,0.0,0.0,Cezar P. Consing,-0.0136,11.9,Semi-annually
3,11/29/2018,921.211,927.992,920.243,921.211,1009260.0,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,0.634914,0.634914,0.634914,0.0,0.0,0.0,Cezar P. Consing,-0.0136,11.9,Semi-annually
4,12/3/2018,920.243,929.445,910.556,920.243,514410.0,AC,Holding Firms,"34/F, Tower One and Exchange Plaza, Ayala Tria...",acquery@ayala.com.ph,...,0.529168,0.529168,0.529168,0.0,0.0,0.0,Cezar P. Consing,-0.0136,11.9,Semi-annually

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35526 entries, 0 to 35525
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 35524 non-null  object
 1   Open                 35524 non-null  float64
 2   High                 35524 non-null  float64
 3   Low                  35524 non-null  float64
 4   Close                35524 non-null  float64
 5   Volume               35524 non-null  float64
 6   Name                 35526 non-null  object
 7   Category             35524 non-null  object
 8   Business Address     35524 non-null  object
 9   Email Address        35524 non-null  object
 10  Website              35524 non-null  object
 11  Telephone No.        35524 non-null  object
 12  Description          35524 non-null  object
 13  Company Name         35524 non-null  object
 14  3Year_Return         35524 non-null  float64
 15  1Year_Return         35524 non-null  float64
 16  YTD_Return           35524 non-null  float64
 17  5Year_Return         35524 non-null  float64
 18  MA9                  35524 non-null  float64
 19  MA50                 35524 non-null  float64
 20  MA200                35524 non-null  float64
 21  Ceo                  33086 non-null  object
 22  2022 Net Income      33086 non-null  float64
 23  Quarterly P/E Ratio  33086 non-null  float64
 24  Dividend Payout      32331 non-null  object
dtypes: float64(14), object(11)
memory usage: 7.0+ MB

In [ ]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Name', 'Category',
       'Business Address', 'Email Address', 'Website', 'Telephone No.',
       'Description', 'Company Name', '3Year_Return', '1Year_Return',
       'YTD_Return', '5Year_Return', 'MA9', 'MA50', 'MA200', 'Ceo',
       '2022 Net Income', 'Quarterly P/E Ratio', 'Dividend Payout'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35526 entries, 0 to 35525
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 35524 non-null  object
 1   Open                 35524 non-null  float64
 2   High                 35524 non-null  float64
 3   Low                  35524 non-null  float64
 4   Close                35524 non-null  float64
 5   Volume               35524 non-null  float64
 6   Name                 35526 non-null  object
 7   Category             35524 non-null  object
 8   Business Address     35524 non-null  object
 9   Email Address        35524 non-null  object
 10  Website              35524 non-null  object
 11  Telephone No.        35524 non-null  object
 12  Description          35524 non-null  object
 13  Company Name         35524 non-null  object
 14  3Year_Return         35524 non-null  float64
 15  1Year_Return         35524 non-null  float64
 16  YTD_Return           35524 non-null  float64
 17  5Year_Return         35524 non-null  float64
 18  MA9                  35524 non-null  float64
 19  MA50                 35524 non-null  float64
 20  MA200                35524 non-null  float64
 21  Ceo                  33086 non-null  object
 22  2022 Net Income      33086 non-null  float64
 23  Quarterly P/E Ratio  33086 non-null  float64
 24  Dividend Payout      32331 non-null  object
dtypes: float64(14), object(11)
memory usage: 7.0+ MB

In [ ]:
df.fillna("N/A", inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35526 entries, 0 to 35525
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 35526 non-null  object
 1   Open                 35526 non-null  object
 2   High                 35526 non-null  object
 3   Low                  35526 non-null  object
 4   Close                35526 non-null  object
 5   Volume               35526 non-null  object
 6   Name                 35526 non-null  object
 7   Category             35526 non-null  object
 8   Business Address     35526 non-null  object
 9   Email Address        35526 non-null  object
 10  Website              35526 non-null  object
 11  Telephone No.        35526 non-null  object
 12  Description          35526 non-null  object
 13  Company Name         35526 non-null  object
 14  3Year_Return         35526 non-null  object
 15  1Year_Return         35526 non-null  object
 16  YTD_Return           35526 non-null  object
 17  5Year_Return         35526 non-null  object
 18  MA9                  35526 non-null  object
 19  MA50                 35526 non-null  object
 20  MA200                35526 non-null  object
 21  Ceo                  35526 non-null  object
 22  2022 Net Income      35526 non-null  object
 23  Quarterly P/E Ratio  35526 non-null  object
 24  Dividend Payout      35526 non-null  object
dtypes: object(25)
memory usage: 7.0+ MB

In [ ]:
df4['headlines'] = df3['headlines'].values
df4.head()

,Unnamed: 0,Date,Name,headlines,headlines.1,Label_string,Dummy_replacement,Nearest_headline,Date of headline,text_date,Dummy_text
0,0,01/01/2018,AC,No related news,No related news,no headline,0,No related news,01/01/2018,"January 01, 2018",Neutral
1,1,01/02/2018,AC,No related news,No related news,no headline,0,No related news,01/01/2018,"January 01, 2018",Neutral
2,2,01/03/2018,AC,No related news,No related news,no headline,0,No related news,01/01/2018,"January 01, 2018",Neutral
3,3,01/04/2018,AC,No related news,No related news,no headline,0,No related news,01/01/2018,"January 01, 2018",Neutral
4,4,01/05/2018,AC,No related news,No related news,no headline,0,No related news,01/01/2018,"January 01, 2018",Neutral

In [ ]:
df.to_csv('stock_return_df.csv')

In [ ]:
df4.to_csv('Sentiments.csv')